#map {
    height:100%;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

.navigationBar {
    background-color: #333;
    padding: 15px;
    text-align: center;
    color: white;
}

.navigationBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.navigationBar li {
    float: right;
}

.navigationBar a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationBar a:hover {
    background-color: #111;
}
.boxed {
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		text-align:center;
		min-height:75vh;
		left:50;
		bottom:100;
		border: 1px solid green;
			}

footer {
	position: fixed;
	left:0;
	bottom:0;
	width:100%;
    height: 7.5%;
    background-color: #111;
    text-align: center;
    color: white;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
