{% extends 'gymbuddy/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add Progress Picture
{% endblock %}
	
{% block body_block %}
	<h1>Add a Progress Picture</h1>
	<div>
		{% if user.is_authenticated %}
		<div class="bg-text">
			<h3>Write your thoughts! </h3>
			<form id="comment_form" method="post" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% for field in form.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{{ field }}
				{% endfor %}
				<input type="submit" name="submit" value="Add Comment" />
		{% else %}
			<strong>A User by this name does not exist.</strong>	
			</form>
		</div>
		{% endif %}
	</div>
{% endblock %}