{% extends 'gymbuddy/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Edit Profile
{% endblock %}

{% block body_block %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	{% if registered %}
		<strong>Thank you for signing up to GymBuddy!</strong>
		<a href="{% url 'index' %}">Return to the homepage.</a><br />
	{% else %}
	
		<div class="boxed">
		<div>	
			<strong>Edit Your Account</strong><br />
			<form id="edit_form" method="post" action="{% url 'edit_profile' %}"
			enctype="multipart/form-data">

			{% csrf_token %}

	
			{{ edit_form.as_p }}

			<input type="submit" name="submit" value="Register" />
			</form>

		</div>	
	{% endif %}
{% endblock %}
