{% extends 'gymbuddy/base.html' %}
{% block body_block %}
    {% if Gym %}
        <div class="gym-info">
            <p>Name: {{ Gym.GymName }}</p>
            <p>Rating: {{ Gym.Rating }}</p>
            <p>Opening Hours: {{ Gym.OpeningHours }}</p>
            <p>Address: {{ Gym.Address }}</p>
			<form action="{{ Gym.WebsiteURL}}">
                <input type="submit" value="View Gym's webpage" />
            </form>
			<input type="submit" name="submit" value="Follow" />
		<div class="gym-people">
                {% if People %}
                    {% for Person in People %}
                        <div class="wrapper">
							<div class="person">
								<p>{{ Person }}</p>
								<p>{{ Person.Experience }}</p>
								<a href="{% url 'user_profile' Person %}"><img class="profilePic" src= "/media/{{ Person.ProfilePicture }}"></a>
							</div>
						</div>
                    {% endfor %}
                {% endif %}
        </div>
    {% else %}
        <div class="gym-profile">
        <p>No Gym exists</p>
        </div>
    {% endif %}
{% endblock %}

