{% extends 'gymbuddy/base.html' %}
{% block body_block %}
    {% if Gym %}
        <div class="gym-profile">
            <p>Name: {{ Gym.GymName }}</p>
            <p>Rating: {{ Gym.Rating }}</p>
            <p>OpeningHours: {{ Gym.OpeningHours }}</p>
            <p>Address: {{ Gym.Address }}</p>
            <form action="{{ Gym.WebsiteURL}}">
                <input type="submit" value="View Gym's webpage" />
            </form>
                {% if People %}
                    {% for Person in People %}
                        <div class="gymProfilePerson">
                        <p>{{ Person }}</p>
                        <p>{{ Person.Experience }}</p>
                        <img src= "/media/{{ Person.ProfilePicture }}">
                        <a href="{% url 'user_profile' Person %}">Find out more</a>
                        </div>
                    {% endfor %}
                {% endif %}
        </div>
    {% else %}
        <div class="gym-profile">
        <p>No Gym exists</p>
        </div>
    {% endif %}
{% endblock %}

