{% extends 'gymbuddy/base.html' %}
{% load static %}
{% block body_block %}
<div id="top">
	<div class="bg-image"></div>
	<div class="bg-text">
	  <h1>Find your gym below!</h1>
	  <p>To get started, click the arrow and select your gym from the map</p>
	
	<a href="#map"><img class="resize" src= "{% static "images/down-arrow.png" %} "></a>
</div>

</div>
<div id="map"></div>
    <script>
      var map;
      var marker;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 55.871729, lng: -4.288315},
          zoom: 15
        });

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
            initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            map.setCenter(initialLocation);
        });

    }

        {% if Gyms %}
            {% for Gym in Gyms %}
                var contentString = '<b>{{ Gym.GymName }}</b>' +
                                    '<p>Rating: {{ Gym.Rating }}</p>' +
                                    '<a href="{% url 'gym_profile' Gym.slug %}">Find out more</a>'

                var coords = {lat: {{ Gym.X_Coord }}, lng: {{ Gym.Y_Coord }}}
                marker = new google.maps.Marker({
                    position: coords,
                    animation: google.maps.Animation.DROP,
                    map: map,
                    title: '{{ Gym.GymName }}'
                });
                attachInfoWindow(marker, contentString);
            {% endfor %}
        {% endif%}
        function attachInfoWindow(marker, info) {
        	var infowindow = new google.maps.InfoWindow({
          		content: info
        	});

        	marker.addListener('click', function() {
          		infowindow.open(marker.get('map'), marker);
        	});
      	}
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_XqtZXs7QjWLeSBO3urXsUAgRg8Ge8Z4&callback=initMap"
    async defer></script>
{% endblock %}
