{% extends 'gymbuddy/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<img class="bg-image" src= "{% static "images/flex.jpg" %} "></a>
	<div class="signup-form">
		<h1>Login to GymBuddy</h1>
		<form id="login_form" method="post" action="/login/">
			{% csrf_token %}

			Username: <input type="text" name="username" value="" size="50">
			<br/>
			Password: <input type="password" name="password" value="" size="50">
			<br/>
			<input type="submit" value="submit">
		</form>
		Not got an account? <a href="/signup/">Sign up here!</a><br>
	</div>	
			
{% endblock %}
