{% extends 'gymbuddy/base.html' %}
{% load staticfiles %}
{% block body_block %}
	{% if user.is_authenticated %}
		{% if Person %}
			<div class="gym-info">
				<h1>{{ Person }}</h1>
				<p>Date of birth: {{ Person.DoB }}</p>
				<p>Weight: {{ Person.Weight }} kg</p>
				<p>Height: {{ Person.Height }} cm</p>
				
				{% if User_Following %}
				<p>Following:
                    {% for user in User_Following %}
                <a href="{% url 'user_profile' user %}">{{ user }}, </a>
                    {% endfor %}
				</p>
                {% else %}
                    <p>Not following any users</p>
                {% endif %}
				<p>About me: {{ Person.AboutMe }}</p>
				
				
				{% if Gym %}
					<a href="{% url 'gym_profile' Gym.slug %}">Check out my gym</a>
				{% endif %}
						{% ifequal user.username  Person.user.username %}
							<form action="{% url 'edit_profile' user.username%}">
								<input type="submit" value="Edit Profile" />
							</form>
							<a href="{% url 'add_progresspic' user.username %}">Add a Progress Pic</a></br>
							<a href="{% url 'deactivate' %}">Deactivate Account</a></br>
						{% endifequal %}
			
			{% if user.is_authenticated %}
					{% if user.username != Person.user.username %}
						{% if Logged_In_Following %}
							{% if Person.user.username not in Logged_In_Following %}
								<form method="POST" action="{% url 'follow_user' Person.user.username user %}">
									{% csrf_token %}
									<input type="submit" value="Follow" />
								</form>
							{%endif%}
						{% else %}
							<form method="POST" action="{% url 'follow_user' Person.user.username user %}">
								{% csrf_token %}
								<input type="submit" value="Follow" />
							</form>
						{% endif %}
					{% endif %}
				{%endif%}
		{% endif %}
			</div>
			
			<div class="gym-map">
					<img class="user-profilePic" src= "/media/{{ Person.ProfilePicture }}"></br>
					
			</div>
			
			
			<div class="gym-people">
					{% if Pics %}
						{% for Pic in Pics %}
						<div class="wrapper">
							<div class="photos">
								<img class="progress-pic"src="/media/{{ Pic.Photo }}">
								<div class="progress-pic">
									{{ user.username }} 
									</br></br>								
									{% if Comments %}
										{% for Comment in Comments  %}
											{% if Comment.OnPic == Pic %}
												{{ Comment.Poster }} <div class="comment">{{ Comment.Comment }} </div>
											</br>
											{% endif %}
										{% endfor %}
									{% endif %}
									<a href = "{% url 'add_comment' user.username Pic.PhotoID %}"> Add a Comment</a>
								</div>
							</div>
						</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
	{% else %}
		<div class="bg-text">
			You must <a href="{% url 'login' %}">sign in</a> to view a profile
		</div>
	{% endif %}
{% endblock %}

