{% extends 'gymbuddy/base.html' %}
{% block body_block %}
{% if Person %}
    <div class="gym-profile">
    <p>Welcome to {{ Person }}'s profile</p>
    <p>Date of birth: {{ Person.DoB }}</p>
    <p>Weight: {{ Person.Weight }} kg</p>
    <p>Height: {{ Person.Height }} cm</p>
    <p>About me: {{ Person.AboutMe }}</p>
    <p>Following: {{ Person.Following }} </p>
        <img src= "/media/{{ Person.ProfilePicture }}"></br>
    {% if Gym %}
        <a href="{% url 'gym_profile' Gym.slug %}">Check out my gym</a>
    {% endif %}
    {% if user.is_authenticated %}
            {% ifequal user.username  Person.user.username %}
                <form action="{% url 'edit_profile' %}">
                <input type="submit" value="Edit Profile" />
                </form>
				<a href="{% url 'add_progresspic' user.username %}">Add a Progress Pic</a>
			{% endifequal %}
    {% endif %}
    <p>Photos here</p>
    {% if Pics %}
        {% for Pic in Pics %}
            <div class="PhotoFeed">
                <img src="/media/{{ Pic.Photo }}">
                {{ Pic.Likes }}
                {% if Comments %}
                    {% for Comment in Comments  %}
                        {% if Comment.OnPic == Pic %}
                            {{ Comment.Comment }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% else %}
    <div class="gym-profile">
    <p>User does not exist</p>
    </div>
{% endif %}
{% endblock %}

